{
  "endOfLine": "auto",
  "arrowParens": "always",
  "bracketSameLine": false,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "trailingComma": "es5",

  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],

  "importOrder": [
    "^react(-.*)?$",
    "<THIRD_PARTY_MODULES>",
    "^@/shared/(.*)$",
    "^@/domains/(.*)$",
    "^@/pages/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
